@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	vertical-align: baseline;
}

html, body {
	width:100%;
	height:100%;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

body {
	background: #ffffff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body, input, select, textarea {
	color: #585858;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.75;
}

a {
	-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	transition: border-bottom-color 0.2s ease, color 0.2s ease;
	text-decoration: none;
	color: #585858;
	border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
}

a:hover {
	border-bottom-color: transparent;
	color: #f2849e !important;
}

strong, b {
	font-weight: 900;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
	font: inherit;
	font-family: Helvetica, sans-serif;
	font-weight:300;
	font-size:22px;
	line-height:32px;
	color:#AAA;
}

h1 {
	font-size: 2.75em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 1em 0;
	letter-spacing: -0.035em;
}

h1 a {
	color: inherit;
}

h2, h3, h4, h5, h6 {
	font-weight: 900;
	line-height: 1.5;
	margin: 0 0 2em 0;
	text-transform: uppercase;
	letter-spacing: 0.35em;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 20px;
	width:100%;
	float:left;
}


sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: solid 1px #c9c9c9;
	margin: 2em 0;
}

hr.major {
	margin: 3em 0;
}

.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

.tiles {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	postiion: relative;
	margin: -2.5em 0 0 -2.5em;
}

.tiles article.off img {
	opacity:0;
}

.tiles article.off > .image:before {
	background-color: #ccc !important;
}

.tiles article.off  > a h2 {
	color:#AAA;
}

.tiles article.off .content {
	color:#AAA;
}

.tiles article {
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	position: relative;
	width: calc(33.33333% - 2.5em);
	margin: 2.5em 0 0 2.5em;
}

.tiles article > .image {
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	position: relative;
	display: block;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.tiles article > .image img {
	display: block;
	width: 100%;
}

.tiles article > .image:before {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
	-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
	transition: background-color 0.5s ease, opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	opacity: 0.8;
}

.tiles article > .image:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.25;
	z-index: 2;
}

.tiles article > a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
	-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
	transition: background-color 0.5s ease, transform 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 4px;
	border-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	z-index: 3;
}

.tiles article > a > :last-child {
	margin: 0;
}

.tiles article > a:hover {
	color: #ffffff !important;
}

.tiles article > a h2 {
	margin: 0;
}

.tiles article > a .content {
	-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
	-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
	-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	width: 100%;
	max-height: 0;
	line-height: 1.5;
	margin-top: 0.35em;
	opacity: 0;
}

.tiles article > a .content > :last-child {
	margin-bottom: 0;
}

.tiles article.style1 > .image:before {
	background-color: #102FA5;
}

.tiles article.style2 > .image:before {
	background-color: #7ecaf6;
}

.tiles article.style3 > .image:before {
	background-color: #7bd0c1;
}

body:not(.is-touch) .tiles article:hover > .image {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover > .image:before {
	background-color: #333333;
	opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover > .image:after {
	opacity: 0;
}

body:not(.is-touch) .tiles article:hover .content {
	max-height: 15em;
	opacity: 1;
}

* + .tiles {
	margin-top: 2em;
}

#main {
	padding-top:100px;
}

#wrapper > * > .inner {
	width: 100%;
	max-width: 68em;
	margin: 0 auto;
	padding: 0 2.5em;
}

/* Sesje */

.sessions {
	width:100%;
	height:100%;
	float:left;
}

.sessions .session {
	width:100%;
	height:100%;
	float:left;
	border:1px #CCC solid;
	border-left:0;
	border-top:0;
	box-sizing:border-box;
}

.sessions .session.half {
	width:50%;
	height:50%;
}

.sessions .session .form {
	width:400px;
	padding:25px;
	margin:50px auto 0 auto;
}

.sessions .session .form p {
	width:100%;
	float:left;
	font-size:20px;
}

.sessions .session .form input {
	width: 100%;
	float: left;
	margin:5px 0;
	border-bottom: 1px #CCC solid;
	padding: 7px 0;
}

.sessions .session .form select {
	width: 100%;
	float: left;
	background:#FFF;
	border-bottom: 1px #CCC solid;
	padding: 7px 0;
	margin:5px 0;
}

.new {
	width: 100%;
	float:left;
	background: #3CB063;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: #FFF;
	font-size:20px;
	margin:15px 0;
	cursor:pointer;
	letter-spacing: 1px;
}

.add {
	width: 200px;
	background: #3CB063;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: #FFF;
	font-size:20px;
	bottom:20px;
	right:20px;
	cursor:pointer;
	position:absolute;
	letter-spacing: 1px;
	display:none;
}
